<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" 
                    role="progressbar" 
                    [attr.AreaValuenow]="porcentaje"
                    [attr.AreaValuemin]="0"
                    [attr.AreaValuemax]= "100"
                    [style.width] = "porcentaje + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <span class=input-group-btn>
                        <div class="input-group-prepend" id="button-addon3">
                            <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
                        </div>
                    </span>
                    <input type="text" class="form-control" >
                    <span class=input-group-btn>
                        <div class="input-group-prepend" id="button-addon3">
                            <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+5)"><i class="mdi mdi-plus"></i></button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                TEXTO 2
            </div>
        </div>
    </div>
</div>